    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        justify-content: left;
        align-items: center;
        min-height: 100vh;
    }
    
    .button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        margin-left: 10px;
    }
    
    .button:hover {
        background-color: #4CAF50;
        /* Green */
        color: white;
    }
    
    #mensagem {
        padding: 15px 32px;
        margin: 0;
    }