.form__label form__label--numero {
    font-family: roboto, sans-serif;
    -webkit-box-direction: normal;
    box-sizing: border-box;
    margin: 0;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-left: 0;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    color: #343434;
    padding: 15px 15px 15px 50px;
    position: relative;
    font-size: 9px;
    width: 100%;
}